
  <div class="relative overflow-hidden bg-no-repeat bg-cover" style="
    background-position: 100%;
    background-image: url('https://images.pexels.com/photos/8380252/pexels-photo-8380252.jpeg?cs=srgb&amp;dl=pexels-jj-jordan-8380252.jpg&amp;fm=jpg');
    height: 850px;
  ">
    <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed">
      <div class="flex justify-center items-center h-full">
        <div class="w-50 h-60 rounded-lg bg-white bg-opacity-20 backdrop-blur-lg  drop-shadow-lg">
        <div class="text-center text-white px-4 md:px-12">
          <h1 class=" mt-4 font-nunito mr-8">sweet</h1>
          <h6 class="text-sm font-nunito ml-4">dream</h6>
          <p class="text-base font-MyFont mt-5 text-amber-800"> Large assomment of ice cream</p>
          <p class="text-xs font-thin m-4 "> Having tried this ice cream ,
            <br>you will not be able to deoy yourself in the future..</p>
          <button type="button"
            class="inline-block px-6 py-2.5 border-1  rounded-lg bg-amber-800 absolute inset-x-2 bottom-4 text-white font-medium text-xs leading-tight uppercase  hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out"
            data-mdb-ripple="true" data-mdb-ripple-color="light">
            Get started
          </button>
        </div>
      </div>
      </div>
    </div>
  </div>